/*------------------------------------------------------------------
[BlogLoops Stylesheet]


[Table of contents]

1. Blog Loops General Styling
2. Blogloop-v1
3. Blogloop-v2
4. Blogloop-v3
5. Blogloop-v4
6. Blogloop-v5

-------------------------------------------------------------------*/


/*---------------------------------------------*/
/*--- 1. Blog Loops General Styling ---*/
/*---------------------------------------------*/
.mt-post-format-icon-badge {
    position: absolute;
    top: 30px;
    right: 30px;
    background: #fff;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 62px;
    font-size: 25px;
}
.list-view .post-thumbnail {
    margin: 0;
    padding: 0;
    position: relative;
}
.list-view .post-details {
    align-self: center;
    padding: 30px;
}
.list-view .post-category-comment-date {
    margin: 0 0 8px;
}
.list-view .no-featured-image {
    padding: 30px !important;
}
.list-view .post-details .post-category-comment-date .post-date a {
    opacity: 1;
    display: inline-table;
}
.list-view .post-category-comment-date > span:last-child{
    margin-right: 0px;
}
article.single-post .ico-icon{
    text-align: center;
    margin-bottom: 10px;
}
article.single-post .post-button{
    text-align: center;
}
article.single-post img {
    transition: all 600ms ease-in-out 0s;
    -webkit-transition: all 600ms ease-in-out 0s; /* For Safari 3.1 to 6.0 */
    transform: scale(1) rotate(0deg);
    -webkit-transform: scale(1) rotate(0deg);
}
article.single-post img:hover {
    transform: scale(1.03) rotate(1deg);
    -webkit-transform: scale(1.03) rotate(1deg);
}
article.single-post img:hover {
    opacity: .9;
}
.list-view .blog_date {
    display: inline-table;
    font-size: 15px;
    line-height: 23px;
    text-align: center;
}
.post-thumbnail a {
    display: block;
    overflow: hidden;
}
.list-view .wp-caption.alignnone {
    margin: 10px 0;
    max-width: 100%;
}
.list-view .post-details .post-category-comment-date span > i {
    margin-right: 5px;
}
.list-view .post-details .post-category-comment-date i,
.post-category-comment-date .post-tags-list,
.post-category-comment-date .post-date,
.post-category-comment-date .author,
.post-category-comment-date span a,
.post-category-comment-date .post-date-list{
    text-transform: capitalize;
    transition: all 300ms ease 0s;
    -webkit-transition: all 300ms ease 0s;
    color: #999;
}
.list-view .post-details .mt_cars--features-description .house_location a {
    font-size: 16px;
    text-transform: none;
    color: #c3c3c3;
    line-height: 20px;
    font-weight: 400;
    font-style: italic;
}

.list-view .post-details .post-category-comment-date .post-author span {
    opacity: 0.6;
}
.sticky_post_blog_details .post-author > a {
    display: inline;
}
.list-view .post-details .post-excerpt td, 
.list-view .post-details .post-excerpt th,
.list-view .post-details .post-excerpt dd,
.list-view .post-details .post-excerpt dt,
.list-view .post-details .post-excerpt address,
.list-view .post-details .post-excerpt li {
    color: #252525;
    font-size: 17px;
    line-height: 140%;
}
.list-view .post-details .post-excerpt .more-link {
    background-color: #252525;
    text-align: center;
    padding: 10px 20px;
    color: #fff;
    font-size: 14px;
    display: inline-block;
    transition: all 300ms ease 0s;
    -webkit-transition: all 300ms ease 0s;
}
.list-view .post-details .post-excerpt .more-link:hover {
	background-color: #6bce85;
    color: #ffffff;
}
.post-category-comment-date i {
    margin-right: 0px;
}
.list-view .post-thumbnail:hover {
  border-right: medium none !important;
}
article.single-post {
    position: relative;
}
.single-post {
    border-bottom: medium none !important;
}

/*---------------------------------------------*/
/*--- 2. Blogloop-v1 ---*/
/*---------------------------------------------*/
.list-view.blogloop-v1 .no-featured-image{
    border: 1px solid #ededed;
}
article.blogloop-v1.single-post::after {
    display: none;
}
article.blogloop-v1.single-post {
    margin-bottom: 0;
}
.blogloop-v1 .post-details-padding {
    padding: 0 15px;
}
.blogloop-v1.list-view .post-details .post-excerpt p {
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}
.blogloop-v1 .post-name a{
    color: #282828;
}
.blogloop-v1 .post-name {
    font-size: 30px;
    font-weight: bold;
    margin: 20px 0 15px;
}
.blogloop-v1 .post-details .post-sticky-label i {
    font-size: 28px;
}
.blogloop-v1.list-view .post-category-comment-date {
    margin: 0 0 12px;
}


/*---------------------------------------------*/
/*--- 3. Blogloop-v2 ---*/
/*---------------------------------------------*/
article.blogloop-v2.single-post:last-of-type .post-details .post-details-holder {
    border-bottom: 0 none;
}
.blogloop-v2 .post-name a{
    font-size: 30px;
    font-weight: 700;
    line-height: 42px;
    transition: all 300ms ease 0s;
    -webkit-transition: all 300ms ease 0s;
}
.blogloop-v2 .post-name {
    text-align: left;
    margin: 10px 0 20px;
}
.blogloop-v2 .post-details .post-sticky-label i {
    font-size: 28px;
}
.blogloop-v2.list-view .post-category-comment-date {
    margin: 0;
}
.blogloop-v2 .post-details .post-excerpt p{
    margin: 0;
}
.blogloop-v2.single-post {
    padding-bottom: 0;
    margin-bottom: 30px;
}

/*---------------------------------------------*/
/*--- 4. Blogloop-v3 ---*/
/*---------------------------------------------*/


.blogloop-v3.blogloop-no-flex.list-view .blog_custom {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    display: block;
}
.blogloop-v3 .post-details {
    float: left;
    width: 100%;
}
.blogloop-v3 .post-name a{
    color: #282828;
}
.blogloop-v3 .post-name {
    font-size: 30px;
    font-weight: bold;
    margin: 20px 0 15px;
}
.blogloop-v3 .post-details .post-sticky-label i {
    font-size: 28px;
}
.blogloop-v3.list-view .post-category-comment-date {
    margin: 0 0 12px;
}
.single-post.blogloop-v3 {
    margin-bottom: 40px;
}
.blogloop-v3 .post-details-holder {
    text-align: center;
}


/*---------------------------------------------*/
/*--- 5. Blogloop-v4 ---*/
/*---------------------------------------------*/


.blogloop-v4.blogloop-no-flex.list-view .blog_custom {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    display: block;
}
.blogloop-v4 .post-details {
    float: left;
    width: 100%;
}
.blogloop-v4 .post-name a{
    color: #282828;
}
.blogloop-v4 .post-name {
    font-size: 30px;
    font-weight: bold;
    margin: 20px 0 15px;
}
.blogloop-v4 .post-details .post-sticky-label i {
    font-size: 28px;
}
.blogloop-v4.list-view .post-category-comment-date {
    margin: 12px 0 0;
    font-size: 17px;
}
.blogloop-v4.list-view .post-date {
    margin-top: 25px;
}
.blogloop-v4.list-view .post-date a {
    color: #ffffff;
    display: block;
    font-weight: bold;
    padding: 15px 14px;
    text-align: center;
    text-transform: uppercase;
}
.blogloop-v4.list-view .post-details .post-category-comment-date i, 
.blogloop-v4.list-view .post-details .post-category-comment-date a, 
.blogloop-v4.post-category-comment-date span a, 
.blogloop-v4.post-category-comment-date span {
    color: #a5a5a5;
}



/*---------------------------------------------*/
/*--- 6. Blogloop-v5 ---*/
/*---------------------------------------------*/


article.blogloop-v5.single-post::after {
    display: none;
}
article.blogloop-v5.single-post {
    margin-bottom: 0;
}
.blogloop-v5.blogloop-no-flex.list-view .blog_custom {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    display: block;
    border: 0 none;
}
article.blogloop-v5.single-post.no-featured-image .post-details {
    border: 1px solid #ededed;
}
.blogloop-v5 .post-details {
    border-top: 0px none;
    border-bottom: 1px solid #ededed;
    border-left: 1px solid #ededed;
    border-right: 1px solid #ededed;
    float: left;
    padding: 0 30px 20px;
    width: 100%;
}
.blogloop-v5 .post-name a:hover{
    opacity: .8;
}
.blogloop-v5 .post-name {
    font-size: 30px;
    font-weight: bold;
    margin: 30px 0 15px;
}
.blogloop-v5 .post-details .post-sticky-label i {
    font-size: 28px;
}
.blogloop-v5.list-view .post-category-comment-date {
    margin: 0 0 12px;
}
.blogloop-v5 .absolute-date-badge {
    bottom: 0;
    text-align: center;
    width: 100%;
}
.blogloop-v5 .post-thumbnail a {
    overflow: initial;
    z-index: 2;
}
.blogloop-v5 .absolute-date-badge {
    bottom: -12px;
    text-align: center;
    width: 100%;
}
.blogloop-v5 .absolute-date-badge span {
    border-radius: 15px;
    color: #ffffff;
    margin: 0;
    padding: 3px 15px;
}
blockquote {
    margin: 20px 0;
    padding: 40px;
    font-size: 15px;
    text-align: left;
    quotes: none;
    box-sizing: border-box;
    font-weight: 600;
    position: relative;
    padding-left: 100px;
    border-left: 3px solid #ffb716;
}
.post-excerpt blockquote {
    margin: 0;
}
blockquote:before {
    content: '\201D';
    vertical-align: top;
    font-style: normal;
    text-transform: none;
    line-height: 1;
    font-size: 150px;
    overflow: hidden;
    position: absolute;
    top: 43px;
    left: 25px;
    background: transparent;
    opacity: 0.1;
}
blockquote:after {
    content: '\201C';
    vertical-align: top;
    font-style: normal;
    text-transform: none;
    line-height: 1;
    font-size: 100px;
    overflow: hidden;
    position: absolute;
    top: 35px;
    right: 35px;
    background: #ffffff;
    color: #252525;
    height: 60px;
    padding: 3px 10px;
    display: none;
}
blockquote footer{
    background: transparent;
    font-style: normal;
    font-weight: 400;
    margin-top: 5px;
    border-top: 0px;
}
blockquote a {
    color: #252525;
    text-decoration: underline;
}
blockquote a:hover {
    color: #374C9F;
    text-decoration: underline;
}